@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #f3f5fa;
  font-family: var(--font-fira-sans);
  color: #173d33;
  font-weight: 400;
}

header,
footer,
section {
  @apply container  xl:max-w-screen-xl;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-oswald);
  text-transform: uppercase;
  line-height: 1;
}
