@tailwind base;
@tailwind components;
@tailwind utilities;

/* draft */
.sb {
  @apply border-2 border-green-500;
}

*,
:after,
:before {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  position: relative;
  background-color: #f3f5fa;
  font-family: var(--font-fira-sans);
  color: #173d33;
  font-weight: 400;
  line-height: normal;
}

header,
footer,
section {
  @apply container  xl:max-w-screen-xl;
}

.section {
  @apply mb-[36px] md:mb-[100px] xl:mb-[120px];
}

h1,
h2,
h3 {
  font-family: var(--font-oswald);
  text-transform: uppercase;
  line-height: 1;
}

.heading2 {
  @apply text-[28px] md:text-[36px] xl:text-[48px] smOnly:mb-[24px];
}

.heading3 {
  @apply mb-[24px] text-[16px]  md:mb-[51px]  md:text-[18px] xl:mb-[94px] xl:text-[32px];
}

.icon-md {
  @apply flex h-[32px] w-[32px] items-center justify-center rounded-full bg-[#97D28B];
}
.link-btn {
  @apply flex h-[39px] items-center justify-center gap-[12px] rounded-full hover:bg-[#173D33] hover:text-[#97D28B];
}

.btn-transition {
  @apply transition duration-300 ease-in-out;
}

.card {
  @apply h-[197px] w-[148px] bg-[#EAEDF1] px-[12px] pt-[12px] md:w-[159px] xl:h-[339px] xl:w-[274px];
}
